.hero {
  min-height: 562px;
  margin-top: -1px;
  background-color: $header-bg;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__text {
  position: relative;
  width: 40%;
  padding: 62px 0 0 73px;
  display: flex;
  flex-direction: column;

  h1 {
    @include clear-content(15px);
    @include font(52px, 60px);
    @include head-font;
  }

  p,
  span {
    @include clear-content(0);
    @include font(16px, 24px);
    font-weight: 400;
  }

  p {
    margin-bottom: 50px;
    padding-right: 20px;
    color: $brown-text;
  }

  span {
    margin-bottom: 18px;
    color: $brown-text;
    order: -1;
  }
}

.hero__button {
  width: 55%;
}

.hero__social {
  position: absolute;
  bottom: -126px;
  left: -51px;
  flex-direction: column;
  align-items: center;

  li {
    margin-bottom: 10px;
  }

  &::before {
    position: absolute;
    bottom: 107px;
    left: 7px;
    width: 0.5px;
    height: 77.5px;

    background-color: $light-line;
    content: "";
  }
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
}


@media (min-width: $desktop) and (max-width: 1365px) {
  .hero__social {
    left: 0;
  }
}

@media (max-width: $tablet) {
  .hero {
    min-height: 510px;
  }

  .hero__text {
    width: 50%;
    padding-left: 41px;

    h1 {
      margin-bottom: 20px;
    }
  }

  .hero__social {
    bottom: -85px;
    left: 40px;
    flex-direction: row;

    li {
      margin-right: 12px;
    }

    &::before {
      display: none;
    }
  }

  .hero__image {
    top: 10px;
    width: 542px;
    height: 584px;
    object-fit: contain;
    object-position: 110px 67px;
  }
}

@media (max-width: $mobile) {
  .hero__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__text {
    width: 100%;
    padding: 24px 43px 0;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      @include font(36px, 42px);
      margin-bottom: 15px;
    }

    p,
    span {
      @include font(14px, 20px);
    }

    p {
      margin-bottom: 35px;
      padding-right: 0;
    }

    span {
      margin-bottom: 5px;
    }
  }

  .hero__button {
    width: 55%;
  }

  .hero__social {
    display: none;
  }

  .hero__image {
    position: static;
    min-width: 275px;
    height: auto;
    width: 100%;
    padding: 0 0 0 35px;
    object-position: initial;
  }
}
