.page-header {
  padding: 47px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $header-bg;
}

.page-header__logo svg {
  fill: $brown-text;
  stroke: $bg-light;
}


@media (max-width: $tablet) {
  .page-header {
    padding: 28px 0;
  }
}

@media (max-width: $mobile) {
  .page-header {
    padding: 25px 0;
  }
}
