.person {
  position: relative;

  width: 62%;
  min-height: 400px;
  margin: 0 0 0 auto;
  padding: 93px 125px 0;

  display: flex;
  flex-direction: column;

  background-color: $bg-dark;
  border: 1px solid $border-line;

  &::before {
    position: absolute;
    top: 24px;
    left: 27px;

    width: 91%;
    height: 90%;

    background-color: $bg-light;
    content: "";
  }

  figcaption {
    z-index: 1;

    h3 {
      @include clear-content(7px);
      @include font(24px, 28px);
      font-weight: 500;
      color: $brown-text;
    }

    p {
      @include clear-content(23px);
      @include font(16px, 22px);
      font-weight: 400;
      text-align: left;
      color: $brown-text;
    }
  }

  img {
    position: absolute;
    top: 2px;
    left: -312px;
    width: 360px;
    height: 356px;
    object-fit: cover;
  }

  blockquote {
    @include clear-content(44px);
    @include font(16px, 25px);
    z-index: 1;
    color: $light-opacity;
  }
}

@media (min-width: $desktop) and (max-width: 1240px) {
  .person {
    transform: scale(0.9);
  }
}

@media (max-width: $tablet) {
  .person {
    padding: 93px 120px 0 131px;

    &::before {
      width: 92%;
      height: 88%;
    }

    width: 100%;
    min-height: 411px;

    img {
      top: 295px;
      left: 385px;
      width: 208px;
      height: 208px;
    }

    blockquote {
      margin-bottom: 49px;
    }
  }
}
