.social {
  @include clear-list;
  display: flex;
}

.social__link {
  svg {
    fill: $white;
    transition: all 0.5s ease-in-out;
  }

  &:hover,
  &:focus {
    svg {
      fill: $brown-text;
    }
  }

  &:active {
    svg {
      fill: $brown-text;
      opacity: 0.6;
    }
  }
}
