$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "Roboto", "Arial", "Helvetica", sans-serif;
$accent-font: "Yeseva One", "Georgia", "Book Antiqua", serif;

$white: #ffffff;
$brown-text: #a07b50;
$bg-light: #1f1c1d;
$bg-dark: #151313;
