$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$wrapper: 1148px;
$wrapper-min: 320px;
$wrapper-max: 1366px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "Roboto", "Arial", "Helvetica", sans-serif;
$accent-font: "Yeseva One", "Georgia", "Book Antiqua", serif;

$white: #ffffff;
$light-opacity: rgba(255, 255, 255, 0.72);
$opacity-white: rgba(255, 255, 255, 0.2);
$opacity-black: rgba(0, 0, 0, 0.3);
$brown-text: #a07b50;
$light-text: #ddd0c3;
$bg-light: #1f1c1d;
$bg-dark: #151313;
$header-bg: #181617;
$light-line: rgba(255, 255, 255, 0.61);
$border-line: rgba(160, 123, 80, 0.43);
$date-color: rgba(160, 123, 80, 0.94);
$addres-color: rgba(253, 242, 230, 0.83);
$phone-color: #fdf2e6;
